.category-preview {
  display: flex;
  flex-direction: column;
  margin: 4rem 3rem;

  .preview {
    // width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  .title {
    font-size: 2.8rem;
    // color: #05b21e;
    color: white;
    // text-align: left;
  }
}

.category-preview:last-child {
  margin-bottom: 8rem;
}
