.mobile-nav-bar {
  display: none;
}

@media (max-width: 720px) {
  .mobile-nav-bar {
    display: flex;
    position: relative;
    // background-color: rgb(9, 9, 9);
    background-color: rgb(0, 0, 0);
    // padding: 0.2rem 0;

    &::after {
      content: '';
      position: absolute;
      background-color: rgb(0, 67, 10);
      height: 0.2rem;
      width: 100%;
      bottom: 0;
      left: 0;
    }

    .menu-options {
      margin: 0 auto;
      // max-width: 50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0rem;

      .option {
        color: rgb(234, 234, 234);
        font-size: 1.6rem;
        padding: 0.8rem 1.8rem;
        // border-radius: 0.5rem;
        background-color: rgb(22, 22, 22);
        border: 0.1rem solid rgb(0, 67, 10);
        transition: 0.3s all;

        &:hover {
          color: #005d0e;
          background-color: #05b21e;
          opacity: 1;
        }
      }
    }
  }
}
